body {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav{
    padding: 0 25px;
    background-color: #002e6a;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.nav .center{
    align-self: flex-start;
    padding: 0px;
}

.nav .top img{
    margin: 15px auto;
    width: 140px;
    border: 8px solid #232f71;
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.navli{
    list-style: none;
    margin: 40px 0;
    font-size: 20px;
}

.navli:hover{
    text-shadow: 0 0 8px whitesmoke;
}


.container{
    flex: 3.5;
}

.contact{
    min-height: 50%;
    background-image: url(../images/cherry.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills {
    width: 650px;
    height: 400px;
    padding: 60px 0;
    margin-bottom: 60px;
}

.skills .title{
    text-align: center;
}

.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: repeating-linear-gradient(0deg, 
    transparent, transparent 19.5%, #aaa 20%);
}

.grid .bar {
    background-color: #149ddd;
    width: 45px;
    height: var(--bar-value);
    align-self: flex-start;
    margin:0 auto;
    border-radius: 3px 3px 0 0;
    position:relative;
}

.grid .bar:hover {
    opacity:0.7;
}

.grid .bar::after{
    content: attr(title);
    padding: 10px;
    white-space: nowrap;
    position: absolute;
    font-weight: bold;
  }

  .grid.horizontal{
    flex-direction:column;
    border-bottom: none;
    border-left: 2px solid #aaa;
    background-image: repeating-linear-gradient(90deg,
    transparent,transparent 19.5%, #aaa 20%);
  }

  .grid.horizontal .bar{
    height: 45px;
    width: var(--bar-value);
    align-self: flex-start;
    margin: auto 0 auto 0;
    border-radius: 0 3px 3px 0;
  }

  .grid.horizontal .bar::after{
    top: initial;
    left: 100%;
    padding: 0 10px;
    white-space: nowrap;
    position:absolute;
    transform:rotate(0deg);
    line-height: 45px;
    font-weight: bold;
  }

  .certificate img:hover{
    width: 50%;
  }